/* font-family: 'Share', cursive;
font-family: 'Overpass Mono', monospace;
font-family: 'Montserrat Subrayada', sans-serif; */

.jumbotron {
    color:white;
    background-image:url(../Weather-Dashboard/weatherapp.jpeg);
    height:100%;
    font-size:100%;
    width:100%;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.link {
    color:black;

}

h5 {
    font-family: 'Share', cursive;
}

hr {
    width:200px;
}


.card {
    font-family: 'Share', cursive;
}

div p {
    text-align:center;
    border-bottom:2px solid black;
}

.news-articles {
    float:right;
    
}

.city-div {
    text-align:center;
    padding:5px;
}

.five-day {
    margin-top:50px;
    float:right;
}

a:link {
    color:black;
}

a:hover {
    color:black;
}

a:visited {
    color:black;
}


.card-header {
    font-weight:bold;
}

#calendar {
    font-size:300%;
    margin-top:30px;
}


.past-city-search {
    width:auto;
    font-weight:bold;
    border-style:none;
    text-align:center;
    padding:5px;
    color:black;
    font-family: 'Share', cursive;
    width:100%
}

#current-city {
    font-weight:bold;
    font-size:100%;
}



/*   UV INDEX   */
.low-level {
    border:green solid 5px;
    border-radius:10px;
}
.moderate-level{
    border:yellow solid 5px;
    border-radius:10px;
}

.high-level{
    border:orange solid 5px;
    border-radius:10px;
}

.very-high-level{
    border:red solid 5px;
    border-radius:10px;
}

.extreme {
    border:violet solid 5px;
    border-radius:10px;
}
/*   UV INDEX   */