.jumbotron {
    color:white;
    height:50px;
    font-size:75%;
}



.weather-display {
    border-left: solid 2px black;
}

.weather-display2 {
    border-right: solid 2px black;
    background-color:rgb(114, 114, 189)
}

.city-div {
    text-align:center;
    padding:5px;
}

.five-day {
    margin-top:50px;
}


.past-city-search {
    width:auto;
    font-weight:bold;

    border-style:none;
   

    text-align:center;
}

#current-city {
    font-weight:bold;
    font-size:100%;
}



/*   UV INDEX   */
.low-level {
    background-color:green;
}
.moderate-level{
    background-color:yellow;
}

.high-level{
    background-color:orange;
}

.very-high-level{
    background-color:red;
}

.extreme {
    background-color:violet;
}
/*   UV INDEX   */