/*font-family: 'Overpass Mono', monospace;*/

.jumbotron {
    color:white;
    background-image:url(../assets/weatherapp.jpeg);
    height:100%;
    font-size:100%;
    width:100%;
    font-family: 'Montserrat Subrayada', sans-serif;
}

h5 {
    font-family: 'Share', cursive;
}

hr {
    width:200px;
}


.card {
    font-family: 'Share', cursive;
}

div p {
    text-align:center;
    border-bottom:2px solid black;
}

.city-div {
    text-align:center;
    padding:5px;
}

.five-day {
    margin-top:50px;
    float:right;
}

a:hover {
    color:black;
    font-size:120%;
    text-decoration-style: none;

}

a:link {
    color:black;
}

a:visited {
    color:black;
}


.other-header {
    font-weight:bold;
    font-size:150%;
}

.card-header {
    font-weight:bold;
    
    
}

.tech-news {
    margin-left:20px;
    float:right;
    width:50%;
}


#calendar {
    font-size:300%;
    margin-top:30px;
}


.past-city-search {
    width:auto;
    font-weight:bold;
    border-style:none;
    text-align:center;
    padding:5px;
    color:black;
    font-family: 'Share', cursive;
    width:100%
}

#current-city {
    font-weight:bold;
    font-size:100%;
}

#sticky-footer {
    flex-shrink: none;
  }



/*   UV INDEX   */
.low-level {
    border:green solid 5px;
    border-radius:10px;
}
.moderate-level{
    border:yellow solid 5px;
    border-radius:10px;
}

.high-level{
    border:orange solid 5px;
    border-radius:10px;
}

.very-high-level{
    border:red solid 5px;
    border-radius:10px;
}

.extreme {
    border:violet solid 5px;
    border-radius:10px;
}
/*   UV INDEX   */


@media only screen and (max-width: 1193px) {
    .current-weather {
      margin-left:80px;
    }
    
  }

  @media only screen and (max-width: 767px) {
    .current-weather {
      margin-left:110px;
      margin-right:30px;
    }
    
    .five-day {
        margin-left:70px;
    }
  }
  .tech-news {
    margin-left:150px;
}

@media only screen and (max-width: 524px) {
    .current-weather {
      margin-left:70px;
      margin-right:30px;
    }
    
    .five-day {
        margin-left:100px;
    }
  }
  .tech-news {
    margin-left:130px;
}

  @media only screen and (max-width: 400px) {
    .current-weather {
      margin-left:49px;
    }
    .tech-news {
        margin-left:85px;
    }
    hr {
        width:100px;
    }
    .five-day {
        margin-left:35px;
    }
  }